@import "./new-settings";
@import "./mixins";

/*!
.fd-object-marker
*/
$block: #{$fd-namespace}-object-marker;

.#{$block} {
  // ICON VARIABLES
  $fd-object-marker-icon-size: 1rem !default;
  $fd-object-marker-color: var(--sapContent_MarkerIconColor) !default;
  $fd-object-marker-text-color: var(--sapContent_LabelColor) !default;
  $fd-object-marker-padding-left: 0.5rem !default;
  $fd-object-marker-padding-right: 0.25rem !default;
  // TEXT VARIABLES
  $fd-object-marker-font-size: var(--sapFontSize) !default;

  @include fd-reset();

  font-size: $fd-object-marker-font-size;
  max-width: 100%;
  color: $fd-object-marker-text-color;
  word-break: break-word;
  display: inline-flex;
  align-items: center;
  line-height: 1;

  &::before {
    font-size: $fd-object-marker-icon-size;
    color: $fd-object-marker-color;
    padding: 0 $fd-object-marker-padding-right 0 0;
  }

  // CLICKABLE OBJECT STATUS
  &--link {
    text-decoration: none;
    color: $fd-object-marker-color;
    cursor: pointer;

    &::before {
      position: relative;
    }

    &:hover {
      text-decoration: underline;

      &::before {
        text-decoration: none;
      }
    }

    &:visited {
      text-decoration: none;
    }
  }

  // ICON ONLY MODE
  @include fd-empty() {
    justify-content: center;
    padding-right: 0;
    padding-left: 0;

    &::before {
      padding-right: 0;
      padding-left: 0;
    }
  }

  @include fd-rtl() {
    &::before {
      padding-left: $fd-object-marker-padding-right;
      padding-right: 0;
    }

    @include fd-empty() {
      &::before {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  & + .#{$block} {
    margin-left: $fd-object-marker-padding-left;
    margin-right: 0;

    @include fd-rtl() {
      margin-right: $fd-object-marker-padding-left;
      margin-left: 0;
    }
  }
}
